*{	
	padding: 0;
	margin: 0;  
	border: 0; 
}

*, *:before, *: after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav, footer, header, aside{display: block;}

html, body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0,border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}



.offers {
	padding-top: 112px;
	padding-bottom: 82px;
	max-width: 1120px;
	margin: 0 auto;

	font-family: Roboto;
	font-style: normal;
}
.offers__title {
	text-align: center;
	font-weight: 700;
	font-size: 36px;
	color: #1F1E1E;

	margin-bottom:  40px;
;

}
.box {
	display: grid;
	grid-template-columns: repeat(4, 256px);
	grid-template-rows: repeat(4, 256px);
	grid-gap: 32px;
	color:  #fff;
}
.item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	padding: 20px;
}
.item__title {
	font-weight: 500;
	font-size: 18px;
	margin-bottom: 15px;
	width: 218px;
}
.item__description {
	font-weight: 400;
	font-size: 18px;	
}
.item__blank{
	flex: 1 1 auto;
}
.item__big_title {
	font-weight: 500;
	font-size: 24px;
	margin-bottom: 15px;
}
.item__cost {
	font-weight: 700;
	font-size: 16px;
}

.item:nth-child(1){
	background: url("../img/namibia.jpg") 0 0 no-repeat;
}
.item:nth-child(2){
	background: url("../img/kenia.jpg") 0 0 no-repeat;
}
.item:nth-child(3){
	background: url("../img/tanzania.jpg") 0 0 no-repeat;
	grid-column: span 2;
	grid-row:  span 2;
}
.item:nth-child(4){
	background: url("../img/botzvana.jpg") 0 0 no-repeat;
}
.item:nth-child(5){
	background: url("../img/south.jpg") 0 0 no-repeat;
}
.item:nth-child(6){
	background: url("../img/nine.jpg") 0 0 no-repeat;
	grid-column: span 2;
	grid-row: span 2;
}
.item:nth-child(7){
	background: url("../img/capetown.jpg") 0 0 no-repeat;
}
.item:nth-child(8){
	background: url("../img/uar.jpg") 0 0 no-repeat;
}
.item:nth-child(9){
	background: url("../img/migration.jpg") 0 0 no-repeat;
}
.item:nth-child(10){
	background: url("../img/waterfall.jpg") 0 0 no-repeat;
}